.about
	lost-utility: clearfix;
	padding 4em 0
	.picture
		lost-column: 1/2;
		.picture-img
			border-radius 50%
			display block
			height 300px
			margin 0 auto
			max-width 100%
	.description
		lost-column: 1/2
