.experience
	text-align center
	h2.subtitle
		color titles-color
		font-family default-font
		font-size subtitle-size
		font-weight bold-weight
		margin-bottom 45px
		margin-top 75px
	.company-wrapper
		lost-utility clearfix
		.company-item
			lost-column 1/2
		.company-name
			color brand-primary
			font-size subtitle-size
			font-weight bold-weight
			line-height title-size
		.company-description
			color text-color
			font-size text-size
			font-weight normal-weight
		.company-image
			border 1px solid text-color
			width 360px
			margin 0 auto
			img 
				padding 35px 25px
	.plus-experience
		margin-bottom 35px
		margin-top 55px