.experience
	text-align center
	h2.subtitle
		color titles-color
		font-family default-font
		font-size subtitle-size
		font-weight bold-weight
		margin-bottom 45px
		margin-top 75px
	.plus-experience
		margin-bottom 35px
		margin-top 55px