.footer
	background-color brand-primary
	color white
	font-weight 300
	padding-top 3em
	padding-bottom 3em
	.contact
		lost-column 1/2
		text-align left
		font-size 0.8em
		.contact-item .fa
			margin-right 1em
	.social
		text-align right
		lost-column 1/2
	.title
		font-weight 300
		font-size 1.5em
	.social-ball
		margin .5em
		font-size 1.5em
