.header
	background url('../img/img-header.jpeg')
	padding-top 55px
	.logo
		lost-column 1/2
	.menu-icon
		lost-column 1/2
		text-align right
		.icon
			width 3rem
			fill brand-secondary
	.container-about
		margin-top 45px
		display flex
	.header-item
		lost-column 1/2
		+below($screen-sm)
			lost-column 1/1
	.about
		display flex
		justify-content center
		flex-direction column
		.description
			color light-white-grey
			font-size text-size
			.green
				color brand-secondary
	.profile-picture
		img
			border-radius 50%
			max-height 350px
			max-width 350px
	.go-down
		text-align center
		margin 20px 0 30px 0
		.icon
			width 4rem
			height 4rem
