.projects
	background-color brand-primary
	h2.subtitle
		color brand-secondary
		font-family default-font
		font-size subtitle-size
		font-weight bold-weight
		margin-top 75px
		margin-bottom 45px
		text-align center
	.project-item
		lost-column 1/2
		text-align center
	.project-image 
		border 1px solid brand-secondary
		margin 0 auto
		width 360px
		img 
			padding 10px
	.project-name
		color brand-secondary
		font-family default-font
		font-size subtitle-size
		font-weight bold-weight
		line-height title-size
		margin-top 32px
	.project-description
		color light-white-grey
		font-size text-size
		font-weight normal-weight
		margin-top 20px
	.projects-wrapper
		lost-utility clearfix
	.plus-project
		margin-bottom 35px
		margin-top 55px
		text-align center