.skills
	margin-top 75px
	margin-bottom 70px
	.subtitle
		text-align center
	.skills-wrapper
		margin-top 55px
	.skill-expertise
		font-family default-font
		font-size subtitle-size
		font-weight bold-weight
		text-align center
	.inner-skill
		text-align center
		lost-column 1/4
		color text-color
		+below($screen-md)
			lost-column 1/2
		+below($screen-sm)
			lost-column 1/1
