//
// Main
//
// ==================================================

.title 
	color white
	font-size title-size
	font-weight bold-weight
	line-height title-size
	
	.green
		color brand-secondary

h1
	color titles-color
	font-size title-size
	font-weight bold-weight
	line-height title-size

h2
	color titles-color
	font-family default-font
	font-size subtitle-size
	font-weight bold-weight