//
// Main
//
// ==================================================

.title
	color white
	font-size title-size
	font-weight bold-weight
	line-height title-size

	.green
		color brand-secondary

h1
	color titles-color
	font-size title-size
	font-weight bold-weight
	line-height title-size

h2
	color titles-color
	font-family default-font
	font-size subtitle-size
	font-weight bold-weight

.wrapper
	position relative
	overflow hidden
	width 100%


.wrapper.show-menu
	.canvas
		transform translateX(300px)


.canvas
	width 100%
	height 100%
	position relative
	transform translateX(0)
	transition .3s ease all
.menu
	height 100%
	position absolute
	transform translateX(-300px)
	width 300px
	background brand-primary
	padding 5rem
	.toggle-menu .icon
		fill brand-secondary
		float right
	li
		padding-top 10px
