header.header
	.container
		nav.navigation
			.logo
				img(src="img/herbert-henrique.png")
			.menu-icon.toggle-menu
				svg.icon
					use(xlink:href='#menu-icon')
		.container-about
			.about.header-item
				.title Web
					.green Developer
				.description
					| Hi, my name is Herbert Henrique
					| and i'm a simple
					| &nbsp;
					span.green developer. &nbsp;
					| I try to make great things or just
					| &nbsp;
					span.green solve problems
			.profile-picture.header-item
				img(src="img/profile-picture.jpg")
		//.go-down
			svg.icon
				use(xlink:href='#go-down')
