header.header
	.container
		nav.navigation
			.logo 
				img(src="img/herbert-henrique.png")
			.menu
				svg.icon
					use(xlink:href='#menu-icon')
		.container-about
			.about 
				.title Web
					.green Developer
				.description
					| Hi, my name is Herbert Henrique
					| and i'm a simple 
					span.green developer. 
					| I try to make great things or just 
					span.green solve problems



			.profile-picture
				img(src="img/profile-picture.jpg")
		.go-down
			svg.icon
				use(xlink:href='#go-down')