a.toggle-menu.btn(href='#')
	svg.icon
		use(xlink:href='#close')

ul
	li
		a(href="http://medium.com/herberthenrique", target="_blank") Blog
	li
		a(href='http://github.com/herberthenrique', target="_blank") Github
	li
		a(href='http://linkedin/in/herberthenrique', target="_blank") Linkedin
	li.toggle-menu
		a(href='#skills') Skills
	li.toggle-menu
		a(href='#projects') Projects
	li.toggle-menu
		a(href='#experience') Experience
